SECRET_KEY=your_secret_key_here
JWT_SECRET_KEY=your_jwt_secret_here
MAIL_USERNAME=your_email_here
MAIL_PASSWORD=your_email_password_here
MAIL_DEFAULT_SENDER=your_email_here
ALERT_RECIPIENT_EMAIL=recipient_email_here
NEWS_API_KEY=your_newsapi_key_here
DATABASE_URL=your_database_url_here
